/.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/windows_amd64/terraform-provider-aws_v4.66.1_x5.exe
/.terraform/providers/registry.terraform.io/n3integration/godaddy/1.9.1/windows_amd64/terraform-provider-godaddy_v1.9.1.exe
